.nav-menu {
  z-index: 11;
  position: fixed;
  top: 0;
  background-color: #6d6d6d2c;
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.308);
  height: 10%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 18px;
  padding-right: 100px;
}
.list ul {
  display: flex;
  list-style: none;
}
.list ul li {
  margin: 0 15px;
  cursor: pointer;
}